<% content_for :head do %>
<title><%= @question.question %> - nQoot</title>
<% end %>

<div class="dash container">
    <div class="row">
      <div class="span1">
        <% if not @question.anonimity %>
          <img class="pull-right" src="https://graph.facebook.com/<%= @user.uid %>/picture">
        <% else %>
          <img class="pull-right" src="https://dl.dropbox.com/u/14875695/nqoot-assets/img/anon-50x50.png">
        <% end %>
      </div>
      <div class="span7">
        
        <div id="question-area">
          <span class="question-text"><%= @question.question %></span>
          <span class="question-desc"><%= @question.description %></span>
          <div class="display-auth"><p>
          <% if @question.anonimity %>
            by Anonymous
          <% else %>
            by <%= @user.name %>
          <% end %>
          created on <%= @question.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%A, %B %d, %Y at %I:%M %p %Z') %></p></div>
        </div>
        
        <div id="answers-panel">
        </div>
       
        <div id="input-answer-area">
          <h5>Add Answer</h5>
          <textarea id="answer-text" name="answer-text" class="span7" rows="5"></textarea>
          <input id="anon-answer" name="anon-answer" type="checkbox"> <small>I'm shy, post answer anonymously</small>
          <input type="hidden" name="question-id" id="question-id" value="<%= @question.id %>">
          <a id="add-answer" class="btn btn-info pull-right">Add Answer</a>
        </div>

      </div>
      <div class="span1">
      </div>
      <div class="span3">
        <h5>Recent Questions</h5>
        <% @recent_questions.each do |question| %>
        <p><strong><a href="/question/<%= question.slug %>"><%= question.question %></a></strong></p>
        <% end %>
      </div>
    </div>
</div>
<script type='text/javascript'>
var hostname = "http://localhost:3000/";
//var tstamp = Math.round((new Date()).getTime() / 1000);

var poll = function(){
  var timeout = setTimeout(function(){
  $.ajax({
    url: hostname + 'get/answers',
    data: 'question_id=<%= @question.id %>',
    success: function(data, code, xmlhttp){
      $('#answers-panel').html(xmlhttp.responseText);
      poll();
    },
    dataType: "html"});
  }, 250);
}

$.ajax({
  url: hostname + 'get/answers',
  data: 'question_id=<%= @question.id %>',
  success: function(data, code, xmlhttp){
    $('#answers-panel').html(xmlhttp.responseText);
    poll();
  },
  dataType: "html"});

</script>