<% @answers.each do |answer| %>
<% user = User.find_by_uid(answer.user_id) %>
  <div id="answer-<%= answer.id %>" class="answer-area" <% if answer.is_staff_endorsed %> style="background-color:#99FFCC;" <% end %>>
    <span><strong>
      <% if answer.anonimity %>
        Anonymous
      <% else %>
        <%= user.name %>
      <% end %>
    </strong></span>
    <span class="answer-vote">
      <% if current_user.is_staff %>
        <% if not answer.is_staff_endorsed %>
          <a href="/answer/endorse/<%= answer.id %>" class="icon-ok"></a>
        <% else %>
          <a href="/answer/unendorse/<%= answer.id %>" class="icon-remove"></a>
        <% end %>
      <% end %>
      <% if not current_user.uid == answer.user_id %>
        <% if Vote.can_vote(answer.id, current_user.uid) %>
          <a id="<%= answer.id %>" class="icon-circle-arrow-up add_vote"></a>
        <% else %>
          <a id="<%= answer.id %>" class="icon-circle-arrow-down down_vote"></a>
        <% end %>
      <% end %>
      <small><%= pluralize(answer.vote, 'vote') %></small></span>
    <span id="answer-text-display"><%= answer.answer %></span>
    <div class="display-auth"><p>Posted on <%= answer.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%A, %B %d, %Y at %I:%M %p %Z') %></p>
      <% if current_user.uid == answer.user_id %>
        <p><a id="<%= answer.id %>" class="delete_answer" style="cursor: pointer;">Delete Answer</a>
      <% end %>
    </p></div>
  </div>
<% end %>