<% @answers.each do |answer| %>
<% user = User.find_by_uid(answer.user_id) %>
  <div id="answer-<%= answer.id %>" class="answer-area" style="">
    <span><strong>
      <% if answer.anonimity %>
        Anonymous
      <% else %>
        <%= user.name %>
      <% end %>
    </strong></span>
    <span class="answer-vote">
      <% if current_user.is_staff %>
        <a href="#" class="icon-ok"></a>
      <% end %>
      <% if not current_user.uid == answer.user_id %>
        <a href="/answer/vote/<%= answer.id %>" class="icon-circle-arrow-up"></a>
      <% end %>
      <small><%= pluralize(answer.vote, 'vote') %></small></span>
    <span id="answer-text-display"><%= answer.answer %></span>
    <div class="display-auth"><p>Posted on <%= answer.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%A, %B %d, %Y at %I:%M %p %Z') %>
      <% if current_user.uid == answer.user_id %>
      <!-- Not implemented yet -->
      <!--| <a id="<%= answer.id %>" class="delete_answer" style="cursor: pointer;">Delete</a>-->
      <% end %>
    </p></div>
  </div>
<% end %>